@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-Gold-500: hsl(31, 77%, 52%);
  --color-Cyan-800: hsl(184, 100%, 22%);
  --color-Green-950: hsl(179, 100%, 13%);
  --color-Transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-Gray-100: hsl(0, 0%, 95%);
}

* {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h2 {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}





